<h1>Memo app</h1> 
{% if request.user.is_authenticated %}
    <a href="{% url "add_remind" %}">Add new remind</a>
    <ul>
        {% for rem_item in object_list %}
            {% if request.user == rem_item.user %}
                <li><a href="{% url "edit_remind" pk=rem_item.pk %}">{{rem_item.title}}</a>
                        <p>{% if rem_item.content %}
                        Content: {{rem_item.content}}
                        {% endif %}</p>
                    <p>{% if rem_item.reminder_on %}
                    Remind Time: {{rem_item.remind_date}}, {{rem_item.remind_time}} 
                    {% endif %}</p>

                    {% comment %} <a href="{% url "edit_remind" id=rem_item.id %}">Edit new remind</a> {% endcomment %}
            
                    {% comment %}
                    <form action="/setRemindDate/{{rem_item.id}}/" method = "post">{% csrf_token %}
                        <input type="int" name="remind_date">
                        <input type="submit" value="Set Remind Time">
                    </form> 
                    {% endcomment %}

                    {% comment %} <form action="/sendRemindEmail/{{rem_item.id}}/" method = "post">{% csrf_token %}
                        <input type="submit" value="Test send email">
                    </form> {% endcomment %}

                    {% comment %} <form action="/deleteReminderItem/{{rem_item.id}}/" method = "post">{% csrf_token %}
                        <input type="submit" value="Delete"> {% endcomment %}
                    {% comment %} </form> {% endcomment %}
                </li>
            {% endif %}
        {% endfor %}
    </ul> 

    <p><a href="{% url "logout" %}">Logout</a></p>

{% else %}
    <p><a href="{% url "login" %}">You should login first</a></p>
{% endif %}


